################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EFCore/.vs/EFCore
/EFCore/EFCore.sln
/EFCore/EFCore
